<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Overlay Data Capture Architecture Converter</title>
    <style>
      body {
        background-color: #3a3939;
        color: #beaa6b;
        margin: 10px;
      }
      .column {
        width: 100%;
        margin: 5px;
      }
      a {
        color: #ffd54d;
      }

      @media (min-width: 768px) {
        body{ margin: 50px; }
        .column {
          width: 45%;
          float: left;
          margin: 20px;
        }
      }

    </style>

  </head>
  <body>
    <h1> Overlay Data Capture Architecture Converter </h1>
    <hr/>
    <div class="column">
      <h2> Try it! </h2>
      <p> Tool allow you to convert properly prepared <a href="https://github.com/THCLab/odca-ruby#how-to-build-input-for-parser">csv file</a> to ODCA. As an outcome you would receive a zip file which would include all schema base objects and overlays within JSON-LD format</p>
      <label> Select a file: </label> <input type="file" id="chooseFile" accept=".csv" />
      </div>
      <div class="column">
          <h2>  Learn more </h2>
          <p> Official website: <a href="https://odca.online/">https://odca.online</a> </p>
          <p> Examples: <a href="3cba855017c27ac0fa6cd23cc5dcd91f.zip">TPRM</a></p>
          <p> <a href="https://github.com/THCLab/odca-ruby/tree/master/examples"> More examples </a>
      </div>

      <script>
      document.querySelector("#chooseFile")
        .addEventListener("change", (e) => {

          const xhr = new XMLHttpRequest();
          const fd = new FormData();
          const file = e.target.files[0];
          fd.append('file', file);

          xhr.open('POST', '/', true);
          xhr.onload = () => {
            if (xhr.status === 200) {
              const fileUrl = xhr.responseURL + xhr.responseText
              window.history.pushState("", "", fileUrl);
              window.location.replace(fileUrl);
            }
          };
          xhr.send(fd);
        });
    </script>
  </body>
</html>
