<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Overlay Capture Architecture Converter</title>
    <style>
      body {
        background-color: #3a3939;
        color: #beaa6b;
        margin: 10px;
      }
      .column {
        width: 100%;
        margin: 5px;
      }
      a {
        color: #ffd54d;
      }
      input, label {
        display: block;
      }

      input {
        margin-bottom: 10px;
      }

      @media (min-width: 768px) {
        body{ margin: 50px; }
        .column {
          width: 45%;
          float: left;
          margin: 20px;
        }
      }

    </style>

  </head>
  <body>
    <h1> Overlay Capture Architecture Converter </h1>
    <hr/>
    <div class="column">
      <h2> Try it! </h2>
      <p> Tool allow you to convert properly prepared xls(x) file to OCA. As an outcome you would receive a zip file which would include capture base object and all overlays within JSON format</p>
      <label>Select OCA file *</label>
      <input type="file" id="chooseFile" accept=".xls,.xlsx" />
      <label>Select Credential Layout file</label>
      <input type="file" id="chooseCredentialLayoutFile" accept=".yml,.yaml" />
      <label>Select Form Layout file</label>
      <input type="file" id="chooseFormLayoutFile" accept=".yml,.yaml" />
      <input type="submit" id="submit" />
      </div>
      <div class="column">
          <h2>  Learn more </h2>
          <p> Official website: <a href="https://oca.colossi.network/">https://oca.colossi.network/</a> </p>
          <p> <a href="https://github.com/THCLab/oca-html-preview-demo/tree/main/examples"> Layout examples </a>
      </div>

      <script>
      const fd = new FormData();
      document.querySelector("#chooseFile")
        .addEventListener("change", (e) => {
          const file = e.target.files[0];
          fd.append('file', file);
        });
      document.querySelector("#chooseCredentialLayoutFile")
        .addEventListener("change", (e) => {
          const file = e.target.files[0];
          fd.append('credentialLayoutFile', file);
        });
      document.querySelector("#chooseFormLayoutFile")
        .addEventListener("change", (e) => {
          const file = e.target.files[0];
          fd.append('formLayoutFile', file);
        });

      document.querySelector("#submit")
        .addEventListener("click", (_e) => {
          if (!fd.has('file')) {
            alert('OCA file is required!');
          } else {
            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/', true);
            xhr.onload = () => {
              if (xhr.status === 200) {
                const fileUrl = xhr.responseURL + xhr.responseText
                window.history.pushState("", "", fileUrl);
                window.location.replace(fileUrl);
              }
            };

            xhr.send(fd);
          }
        });
    </script>
  </body>
</html>
